.header__nav {
  align-items: center;
  display: flex;
}

.header__nav__item {
  font-size: 16px;
  height: 3.25rem;
  line-height: 3.25rem;
  outline: none;
  padding: 0px 12px;
  transition: background-color 0.2s;
  vertical-align: top;
}

.header__nav__end {
  margin-left: auto;
}