:root {
  --color-primary: #171717;
  --color-secondary:#444444;
  --color-tertiary:#DA0037;
  --color-quaternary: #EDEDED;
  --text-dark: #171717;
}

/* Color palette: https://colorhunt.co/palette/171717444444da0037ededed */
