@import './partials/variables.css';
@import './partials/utilities.css';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  color: var(--text-dark);
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
}

button {
  cursor: pointer;
}

h1 {
  margin: 0;
  padding-top: 16px;
}

.canvas {
  border-radius: 6px;
}

.canvas--pong {
  background-color: #111;
}